:root {
    font-family: 'roboto', sans-serif;
    --main-color: rgba(128,255,53,1);
    --aux-color-1: #00008b;
    --aux-color-2: #00be29;
    --aux-color-3: #00008b;
    --aux-color-4: #F0E68C;

    --transparent-color-1: rgba(0, 0, 0, 0.5);
    --transparent-color-2: rgba(0, 0, 0, 0.75);
    --transparent-color-3: linear-gradient(90deg, rgba(29,131,29,0) 0%, rgba(128,255,53,1) 50%, rgba(29,131,29,0) 100%);

    --color-green: #fff;
    --color-black: #000;

    --color-1: #ff7300;
    --color-2: #ff0000;
    background-color: #F7F4F4;    
    background-size: cover;
}

body a{
    text-decoration: none;
}

main{
    height: 70vh;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}